doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title by myself
    link(rel="stylesheet", href="/static/style.css")
    link(rel="icon", href="/static/logo.png", type="image/png")
  body
    include partials/nav.pug

    block content

    include partials/foot.pug
